<%- include('../partials/header', { title: 'Editar Incidència' }) %>

<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="card-title text-center">Editar Incidència</h3>
      <form action="/incidencies/<%= incidencia.id %>/update" method="POST">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" name="nom" value="<%= incidencia.nom %>" required>
        </div>
        <div class="mb-3">
          <label for="departament_id" class="form-label">Departament</label>
          <select class="form-control" id="departament_id" name="departament_id" required>
            <% departamentos.forEach(departamento => { %>
              <option value="<%= departamento.id %>" <%= departamento.id === incidencia.departament_id ? 'selected' : '' %> >
                <%= departamento.nom %>
              </option>
            <% }) %>
          </select>
        </div>

        <div class="mb-3">
          <label for="tipus" class="form-label">Tipus</label>
          <input type="text" class="form-control" id="tipus" name="tipus" value="<%= incidencia.tipus %>" required>
        </div>

        <div class="mb-3">
          <label for="descripcio" class="form-label">Descripció</label>
          <textarea class="form-control" id="descripcio" name="descripcio" rows="4" required><%= incidencia.descripcio %></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Actualizar Incidència</button>
      </form>

      <div class="mt-3 text-center">
        <a href="/incidencies" class="btn btn-link">Tornar a la llista d'incidències</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
