<%- include('../partials/header', { title: 'Tecnic' }) %>

<h1>Incidències assignades a <%= tecnic.nom %></h1>
<% if (incidencies.length === 0) { %>
  <p>No tens cap incidència assignada.</p>
  <a href="/tecnic/incidencies/noassignades?tecnic_id=<%= tecnic.id %>" class="btn btn-secondary mt-3">Veure incidències no assignades</a>
<% } else { %>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Descripció</th>
        <th>Data Creació</th>
        <th>Estat</th>
        <th>Actuacions</th>
        <th>Acció</th>
      </tr>
    </thead>
    <tbody>
      <% incidencies.forEach(incidencia => { %>
        <tr>
          <td><%= incidencia.nom %></td>
          <td><%= incidencia.descripcio %></td>
          <td><%= incidencia.datacreacio %></td>
          <td><%= incidencia.estat.nom %></td>
          <td>
            <% if (incidencia.actuacions && incidencia.actuacions.length > 0) { %>
              <ul>
                <% incidencia.actuacions.forEach(actuacio => { %>
                  <li><%= actuacio.descripcio %> - <%= actuacio.data %></li>
                <% }) %>
              </ul>
            <% } else { %>
              <p>No hi ha actuacions registrades.</p>
            <% } %>
          </td>
          <td>
            <a href="/tecnic/incidencies/<%= incidencia.id %>/actuacions/new" class="btn btn-primary">Afegir actuacions</a>
            <a href="/tecnic/incidencies/<%= incidencia.id %>/edit" class="btn btn-warning">Editar</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/tecnic/incidencies/noassignades?tecnic_id=<%= tecnic.id %>" class="btn btn-secondary mt-3">Veure incidències no assignades</a>
<% } %>


<%- include('../partials/footer') %>
